body {
    background: palevioletred;
    font-family: "Helvetica";
}

h2 {
    font-size: 56px;
    font-family: "Lucida Console";
}

p {
    font-style: bold;
}
ul {
    color: firebrick;
    font-size: 20px;
}
p.capitalize {
    text-transform: capitalize;
  }